<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <p class="navbar-text">
      <h2 class="text-white">🍹 <%= link_to 'Monsieur Cocktail', cocktails_path %> 🍸</h2>
    </p>
  </nav>
</div>

<div class="container mt-3 pb-3">
  <div class="cards mt-3">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1542849187-5ec6ea5e6a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
    <% end %>
  </div>
</div>
