<div class="container mt-3">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
</div>
